<!DOCTYPE html>
<html>

<head>
    <title>Database</title>
    <link href="/css/admin.css" rel="stylesheet" type="text/css">
</head>

<body>
    <h1>Database</h1>
    <h3 class="err_msg">
        <%= err_msg_admin %>
    </h3>
    <h3 class="succ_msg">
        <%= succ_msg_admin %>
    </h3>
    <h3 class="return">
        <a href="/home">Home</a>
    </h3>
    <div class="db">
        <table>
            <tr>
                <th>User</th>
                <th>Delete?</th>
            </tr>
            <% for (var i=0; i < accounts.length; i++) { %>
                <tr>
                    <td>
                        <a href="admin/<%= accounts[i] %>">
                            <%= accounts[i] %>
                    </td>
                    <td>
                        <form action="/admin/<%= accounts[i] %>/delete" method="POST">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="submit" value="Delete">
                        </form>
                    </td>
                </tr>
                <% } %>
        </table>
    </div>
    <hr>
    <div>
        <h2 class="add_user">Add User</h2>
        <form action="/send_user" method="post">
            <table>
                <tr>
                    <th>Username</th>
                    <th>Password</th>
                    <th>Email</th>
                    <th>Submit</th>

                </tr>
                <tr>
                    <td>
                        <input type="text" id="username" name="username" placeholder="Username" required>
                    </td>
                    <td>
                        <input type="password" id="password" name="password" placeholder="Password" required>

                    </td>
                    <td>
                        <input type="email" id="email" name="email" placeholder="email@email.com">
                    </td>
                    <td>
                        <input type="submit" value="Submit">
                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>

</html>