<!DOCTYPE html>
<html>

<head>
    <title>Database</title>
    <link href="/css/admin.css" rel="stylesheet" type="text/css">
</head>

<body>
    <h1>Database</h1>
    <h3 class="err_msg">
        <%= err_msg %>
    </h3>
    <h3 class="succ_msg">
        <%= succ_msg %>
    </h3>
    <h3 class="return">
        <a href="/users">Users Table</a>
    </h3>
    <div class="db">
        <table>
            <tr>
                <th>Server Name</th>
                <th>Can Access</th>
            </tr>
            <% for (var i=0; i < servers.length; i++) { %>
                <tr>
                    <td>
                        <%= servers[i].server_name %>
                    </td>
                    <td>
                        <%= servers[i].can_access %>
                    </td>
                </tr>
                <% } %>
        </table>
    </div>
    <div class="update">
        <form action="/users/<%= user %>/update_user" method="post">
            <table>
                <tr>
                    <th>Change Type</th>
                    <th>Server Name</th>
                    <th>Can Access</th>

                </tr>
                <tr>
                    <td>
                        <input type="radio" id="add" name="action_type" value="add" onclick="add_server()">
                        <label for="add_server">Add</label><br>
                        <input type="radio" id="delete" name="action_type" value="delete" onclick="delete_server()">
                        <label for="delete_server">Delete</label><br>
                    </td>
                    <td>
                        <!-- <label for="server_name">Server Name:</label> -->
                        <input type="text" id="server_name" name="server_name" placeholder="Server Name">
                    </td>
                    <td>
                        <!-- <label for="can_access">Can Access:</label> -->
                        <input type="text" id="can_access" name="can_access" placeholder="Can Access">

                    </td>
                </tr>

            </table>
            <input type="submit" value="Update">
        </form>
        <script>
            function delete_server() {
                document.getElementById("can_access").disabled = true;
                document.getElementById("can_access").style.backgroundColor = "#CCCCCC";
            }
            function add_server() {
                document.getElementById("can_access").disabled = false;
                document.getElementById("can_access").style.backgroundColor = "";
            }
        </script>
    </div>
</body>

</html>

<!-- <form action="/db/<%= user %>/update_user" method="post">
    <label for="server_name">Server Name:</label>
    <input type="text" id="server_name" name="server_name" placeholder="Server Name">
    <label for="can_access">Can Access:</label>
    <input type="text" id="can_access" name="can_access" placeholder="Can Access">
    <input type="submit" value="Update">
</form> -->


<!-- <tr>
    <th>Delete Server</th>
    <form action="/db/<%= user %>/update_user" method="post">
        <th>
            <input type="text" id="server_name" name="server_name" placeholder="Server Name">
        </th>
        <th>
            <input type="text" id="can_access" name="can_access" placeholder="Can Access">
        </th>
        <th>
            <input type="submit" value="Update">
        </th>
    </form>
</tr> -->